<% content_for :title, 'Host Dashboard' %>

<%= link_to 'Add a Space', new_space_path %>

<%= admin_table_tag %>
<tr><th>Property Name</th><th>Country</th><th>Actions</th></tr>
<% @spaces.each do |space| %>

<tr class="space-<%= space.id %>">
    <td><%= space.name %></td>
    <td><%= space.country %></td>
    <td>
      <%= link_to 'Edit', edit_space_path(space) %> |
      <%= link_to 'Manage Photos', space_photos_path(space) %>
      <%= link_to 'Manage Availability', space_availabilities_path(space) %>
    </td>
  </tr>
<% end %>
