<% content_for :title, 'Pages' %>

<%= link_to 'New Page', new_admin_page_path %>

<%= admin_table_tag %>
<tr><th>Title</th><th>Actions</th></tr>
  <% @pages.each do |page| %>
    <tr class="page-<%= page.id %>">
      <td><%= link_to page.title, page %></td>
      <td>
        <%= link_to 'Edit', edit_admin_page_path(page) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @pages %>
