<% content_for :title, 'Edit Profile' %>

<%= simple_form_for @profile, url: profile_path(@profile) do |f| %>
  <div class="form-group">
    <% if @profile.photo.exists? %>
      <%= image_tag @profile.photo.url(:thumb) %>
    <% end %>
    <%= f.input :photo %>
  </div>
  <div class="form-group">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.input :country %>
  </div>

  <%= render current_user.role, locals: { f: f } %>

  <%= f.submit 'Update Profile', class: 'btn btn-default' %>
<% end %>
