<% content_for :title, 'Browse Spaces' %>

<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for :space, url: spaces_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.input :country, required: false, selected: @country, only: @available_countries %>
    </div>
      <%= f.submit 'Search', class: 'btn btn-default' %>
      <%= link_to 'Reset', spaces_path, class: 'btn btn-default' %>
    <% end %>
  </div>
  <p>&nbsp;</p>
</div>

<div class="row">
  <%= render partial: 'space', collection: @spaces %>
</div>

<% if @spaces.count == 0 %>
  <p>There are currently no spaces available in this country. Please try again
    later.</p>
<% end %>

<%= paginate @spaces %>
