<% content_for :title, "Photos of #{@space.name}" %>

<%= link_to 'Add New Photo', new_space_photo_path(@space) %> |
<%= link_to 'Back to Dashboard', host_dashboard_path %>

<div class="row">
  <% @space_photos.each do |photo| %>
    <div class="col-sm-6 col-md-6 col-lg-6 space-photo-<%= photo.id %>">
      <%= image_tag photo.url(:large) %>

      <p><%= link_to(
          'Delete',
          space_photo_path(@space, photo),
          method: :delete,
          data: { confirm: 'Are you sure?' }) %></p>
    </div>
  <% end %>
</div>
