<h1>Sign Up For Free</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-group">
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-lg blue" %>
    </div>
    <%= render "devise/shared/links" %>
    
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.collection_radio_buttons :role, [[:guest, 'Guest'],[:host, 'Host']], :first, :last %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

 
<% end %>


