<tr class="menu-item-<%= menu_item.id %>">
  <td>
    <% if menu_item.parent %>
      &nbsp;&nbsp;&nbsp;
    <% end %>
    <%= menu_item.link_label %>
  </td>
  <td><%= menu_item.link_url %></td>
  <td><%= menu_item.weight %></td>
  <td>
    <%= link_to 'Edit', edit_admin_menu_item_path(menu_item) %>
    <%= link_to 'Delete', admin_menu_item_path(menu_item), method: :delete,
        data: { confirm: 'Are you sure? All nested items will also be deleted!' } %>
  </td>
</tr>
