<% content_for :title, @menu.name %>

<%= admin_table_tag %>
<tr><th>Label</th><th>Link</th><th>Weight</th><th>Actions</th></tr>
  <% @menu_items.each do |menu_item| %>
    <tr class="menu-item-<%= menu_item.id %>">
      <td><%= menu_item.link_label %></td>
      <td><%= menu_item.link_url %></td>
      <td><%= menu_item.weight %></td>
      <td><%= link_to 'Edit', edit_admin_menu_item_path(menu_item) %></td>
    </tr>
  <% end %>
</table>
