<% content_for :title, "Availability for #{@space.name}" %>

<%= link_to 'Add Availability Range', new_space_availability_path(@space) %>

<%= admin_table_tag %>
<tr><th>Range</th><th>Actions</th></tr>
<% @availabilities.each do |a| %>
  <tr class="availability-<%= a.id %>">
    <td><%= a.range %></td>
    <td>
      <%= link_to(
          'Delete',
          space_availability_path(@space, a),
          method: :delete,
          data: { confirm: 'Are you sure?' }) %>
    </td>
  </tr>
<% end %>
